    .changepasswd__content{
        min-height: 600px;
    }
    .content--right .changepasswd__title{
        top:-4%;
    }
    @media(min-width:768px){
        .changepasswd__content{
            width: 50%;
        }
    }